trigger:
- '*'

pool:
  vmImage: 'ubuntu-18.04'
  demands:
    - npm

variables:
  buildConfiguration: 'Release'
  wwwrootDir: 'Tailspin.SpaceGame.Web/wwwroot'
  dotnetSdkVersion: '3.1.300'

stages:
  - stage: "Prebuild"
    displayName: "Run any steps required before building the apps"
    jobs:
      - job: "Prebuild"
        displayName: "Prebuild actions"

        steps:
          - template: templates/basicTemp.yml
